.container-fluid{
    width: 30%;
    margin-top: 3%;
}
app-footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
  }


  @media all and(max-width:600px){
    .container-fluid{
        padding-top: 2%;
        width: 80%;
    }
}