.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 mat-toolbar{
        display: flex;
        justify-content: space-between;
        margin:0 auto;
     img{
        height:10vh;

     }
     button{
         background-color: #FF4081;
         border:none;
         color:white;
         font-size: large;
         margin:0.7rem;
         padding:0.5rem;
         width:auto;
         border-radius: 7px;
         align-items: center;
         vertical-align: middle;
         outline: none;
         &:hover{
             background-color:  #fa2b70;
         }
     }
     span{
         margin:1.5rem;
     }
     #loginbtn{
        display: flex;
        align-items: center;
     }

 }

 .login-container{
     width: 60%;
     margin: 5% 22%;
 }

