<div class="body">
  <main>
    <p class="store-name">Icy-Licious</p>
  </main>
  <section class="about-us">
    <span class="left">
      <br />
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Tempus egestas sed
        sed risus pretium quam vulputate dignissim suspendisse. Sem integer
        vitae justo eget magna fermentum. Ornare quam viverra orci sagittis eu
        volutpat odio facilisis mauris. Amet tellus cras adipiscing enim.
        Pharetra vel turpis nunc eget lorem dolor sed viverra. Diam phasellus
        vestibulum lorem sed risus ultricies tristique nulla. Quam adipiscing
        vitae proin sagittis. Condimentum lacinia quis vel eros. Purus sit amet
        volutpat consequat mauris nunc. Dictum varius duis at consectetur lorem.
      </p>
    </span>
    <span class="right"></span>
  </section>
  <section class="products">
    <h1>Ice-Creams</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Tempus egestas sed sed
      risus pretium quam vulputate dignissim suspendisse. Sem integer vitae
      justo eget magna fermentum. Ornare quam viverra orci sagittis eu volutpat
      odio facilisis mauris. Amet tellus cras adipiscing enim. Pharetra vel
      turpis nunc eget lorem dolor sed viverra. Diam phasellus vestibulum lorem
      sed risus ultricies tristique nulla. Quam adipiscing vitae proin sagittis.
      Condimentum lacinia quis vel eros. Purus sit amet volutpat consequat
      mauris nunc. Dictum varius duis at consectetur lorem.
    </p>
    <button type="button" class="btn">Buy Now</button>
    <br />
  </section>
  <section class="contact-us">
    <span class="contact-left">
      <br />
      <h1>Contact Us</h1>
      <br />
      <p>
        Plot No. 1, Chandaka Industrial Estate, Patharagadia, Bhubaneswar,
        Odisha 751024
      </p>
      <p>9:00 am - 10:00 pm</p>
      <p>
        <a href="mailto:icylicious007@gmail.com">icylicious007@gmail.com</a>
      </p>
      <p>
        <a href="tel:9876541230">+91 9876541230</a>
      </p>
    </span>
    <span class="contact-right"
      ><iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15393806.718192417!2d72.44862!3d19.6164532!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1908e77a6bbecd%3A0x516790bc3db5a09f!2sMindtree%20Limited!5e0!3m2!1sen!2sin!4v1608484736320!5m2!1sen!2sin"
        width="350"
        height="300"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe
    ></span>
  </section>
</div>
