<app-header></app-header>
<section class="body">
  <main>
    <div class="content">
      <p class="store-name">Get Tasted!</p>
      <button routerLink="/shop" class="btn btn-outline-warning main-btn">
        Shop now!
      </button>
    </div>
  </main>
  <section class="about-us">
    <span class="left">
      <br />
      <h1>About Us</h1>
      <p>
        Founded in December of 2020 and based in Bhubaneshwar, India, Icy-Licious is shopping website to buy various delicious ice-cream products.
        We promise to bring you the best in class, unique and finest quality of ice creams. <br>
        Starting from Classic to Special, we have a wide range of flavours, where you can crave in to discover some good quality ice creams. Since, we
        are new to the city, we invite you to join us in our journey and make it a huge success. We do have some social media handles below this page,
        refer them to your friends and family, to share some sweet and joyous moments.
      </p>
    </span>
    <span class="right"></span>
  </section>
  <section class="products">
    <h1>Ice-Creams</h1>
    <p>
      Ice cream is a sweetened frozen food typically eaten as a snack or dessert. 
      It may be made from dairy milk or cream and is flavoured with a sweetener, 
      either sugar or an alternative, and any spice, such as cocoa or vanilla. 
      It can also be made by whisking a flavored cream base and liquid Nitrogen together.
    </p>
    <button routerLink="/shop" type="button" class="btn btn-warning">
      Buy Now
    </button>
    <br />
  </section>
  <section class="contact-us">
    <span class="contact-left">
      <br />
      <h1>Contact Us</h1>
      <br />
      <div>
        <i class="fa fa-map-pin fa-lg"></i>
        <h6>
          Plot No. 1, Chandaka Industrial Estate, Patharagadia, Bhubaneswar,
          Odisha 751024
        </h6>
      </div>
      <div>
        <i class="fa fa-clock fa-lg"></i>
        <h6>9:00 am - 10:00 pm</h6>
      </div>
      <div>
        <i class="fa fa-envelope fa-lg"></i>
        <h6>
          <a href="mailto:icylicious007@gmail.com">icylicious007@gmail.com</a>
        </h6>
      </div>
      <div>
        <i class="fa fa-phone fa-lg"></i>
        <h6><a href="tel:9876541230">+91 9876541230</a></h6>
      </div>
    </span>
    <span class="contact-right"
      ><iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15393806.718192417!2d72.44862!3d19.6164532!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1908e77a6bbecd%3A0x516790bc3db5a09f!2sMindtree%20Limited!5e0!3m2!1sen!2sin!4v1608484736320!5m2!1sen!2sin"
        width="300"
        height="300"
        frameborder="0"
        style="border: 0"
      ></iframe
    ></span>
  </section>
</section>
<app-footer></app-footer>
