
<app-header></app-header>
<div>
  <div *ngIf="(this.cart && this.cart.products.length==0 || this.cart==null) ">
    No product is present in cart
  </div>
  <div id="list-container" *ngIf="(this.cart && this.cart.products.length>0) ">
    <mat-list>
      <mat-list-item *ngFor="let product of cart.products">
        <div *ngIf="(product.status)"><img src="{{ product.productImage }}"></div>
        <div id="content">
          <h2>{{ product.productName }}</h2>
          {{ product.productDescription }}
          <p *ngIf="(product.status)">Price: {{ product.productPrice }}</p>
          <button (click)="decreaseQty(product)">-</button>
          <input
            type="text"
            name="qty"
            id="{{ product.productId }}"
            value="{{ product.productQty }}"
            disabled
          />
          <button (click)="increaseQty(product)">+</button>
          <div *ngIf="(!product.status)">
            <p id="outofstock">currently outofstock, please remove this product</p>
          </div>
          <p></p>
        </div>
        <div id="delete" (click)="deleteProduct(product.productId)">
          <mat-icon>delete_outline</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
    <div>
      <p>Total Price: {{this.cart.totalPrice}}</p>
      <button [disabled]="(!placeOrder)" (click)= "showModel()" data-toggle="modal">Place Order</button>
    </div>
  </div>


  <app-footer></app-footer>
</div>

<!-- model code -->

<div [style.display]="modelDisplay ? 'flex' : 'none'" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Order Confirmation</p>
      <button
        class="delete"
        (click)="closeModel()"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      <h4>Are you sure, you want to place order?</h4>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="confirmOrder()">
        Confirm
      </button>
      <button class="button" (click)="closeModel()">Cancel</button>
    </footer>
  </div>
</div>





