<app-header></app-header>
<div class="form-whole">
<div class="form-back">
  <div class="container-fluid div-container input-container">
    <!-- <h4>Add User</h4> -->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input [class.is-invalid]="name.invalid 
        && name.touched " formControlName="name" type="text" class="form-control">
        <div *ngIf="name.invalid && name.touched ">
          <small *ngIf="name.errors?.required" class="text-danger">name is required</small>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input [class.is-invalid]="email.invalid 
        && email.touched " formControlName="emailID" type="email" class="form-control">
      </div>
      
      <div class="form-group">
        <label>Phone Number</label>
        <input [class.is-invalid]="phone.invalid && phone.touched " formControlName="phone" type="tel" class="form-control">
        <div *ngIf="phone.invalid && phone.touched">
          <small *ngIf="phone.errors?.required" class="text-danger">phone number is required</small>
          <small *ngIf="phone.errors?.minlength || phone.errors?.maxlength" class="text-danger">phone number should be 10 digits</small>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input [class.is-invalid]="password.invalid && password.touched " formControlName="password" type="password" class="form-control">
        <div *ngIf="password.invalid && password.touched">
          <!-- <small *ngIf="password.errors?.required" class="text-danger">password is required</small> -->
          <!-- <small *ngIf="password.errors?.minlength" class="text-danger">password should contain 8 characters</small> -->
          <!-- <small *ngIf="password.errors?.pattern" class="text-danger">password should be strong </small> -->
          <small *ngIf="password.hasError('required')" class="text-danger">
            password is required
          </small>
          <small class="text-danger" *ngIf="password.hasError('passwordStrength')">
           {{password.errors['passwordStrength']}}
          </small>

        </div>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" formControlName="confirmPassword" type="password" class="form-control">
        <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <small *ngIf="confirmPassword.errors?.required" class="text-danger">password is required</small>
          <small *ngIf="confirmPassword.errors?.confirmedValidator" class="text-danger">password mismatch</small>
        </div>
      </div>
      <div class="form-group">
        <label>Security Question</label>
        <br>
        <select [class.is-invalid]="question.invalid && question.touched " formControlName="question"  class="form-control">
          <option value="0">What was the first name of your first pet?</option>
          <option value="1">What was your school name?</option>
          <option value="2">Where were you born?</option>
      </select>   
      <div *ngIf="question.invalid && question.touched">
        <small *ngIf="question.errors?.required" class="text-danger">security question is required</small>
      </div>     
      </div>
      <div class="form-group">
        <label>Answer</label>
        <input [class.is-invalid]="answer.invalid && answer.touched " formControlName="answer" type="text" class="form-control">
        <div *ngIf="answer.invalid && answer.touched">
          <small *ngIf="answer.errors?.required" class="text-danger">answer is required</small>
          <small *ngIf="answer.errors?.min" class="text-danger">answer should be min 3 character length</small>
        </div>
      </div>

      <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>
</div>
</div>
<app-footer></app-footer>